:root {
  --text-color: #1a1a1a;
  --main-brand-color: #00b172;
}

html {
  font-size: 14px;
  font-family: sans-serif;
  color: var(--text-color);
  max-width: 760px;
  margin: auto;
}

.logo-and-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
}

.navigation-logo {
  height: 25px;
}

.navigation-bar {
  display: flex;
  font-size: 0.6em;
}

.navigation-options {
  list-style: none;
  display: flex;
}

.navigation-item {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
}

.navigation-item:hover {
  color: var(--main-brand-color);
}

.main-text-wrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0, 0;
  color: #fff;
}

.main-heading {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 600;
}

.introduction-text {
  width: 250px;
  text-align: center;
  line-height: 1.4em;
  font-size: 10px;
}

.whats-on-spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-heading {
  display: inline;
  margin: 20px auto 30px;
  text-align: center;
  border-bottom: 1.5px solid var(--main-brand-color);
  padding-bottom: 5px;
  line-height: 10px;
}

.services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.service-image {
  height: 40px;
}

.service-heading {
  margin: 8px 0 10px;
  font-size: 0.7em;
  font-weight: 600;
  color: var(--main-brand-color);
}

.service-text {
  font-size: 0.6em;
  line-height: 1.4em;
}

.functionalities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-brand-color);
  background-image: url(/images/spotify-icon-white.png);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: center;
  margin: 1rem;
  padding: 2rem;
}
.functionalities:hover {
  animation: beat 1s infinite;
}

.functionalities-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.functionalities-heading {
  display: inline;
  margin: 0 auto 1.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1.5px solid #fff;
  padding-bottom: 0.2rem;
}

.functionality-heading {
  font-size: 0.8rem;
  font-weight: bolder;
  margin-bottom: 0.9rem;
}

.functionality-boxes-wrapper {
  width: 50%;
}

.functionality-text {
  font-size: 0.6rem;
  font-weight: lighter;
  margin-bottom: 1.2rem;
  line-height: 0.8rem;
}

.spotify-app-image {
  height: 15rem;
}

@keyframes beat {
  0% {
    background-size: 12%;
  }
  30% {
    background-size: 20%;
  }
  68%,
  72% {
    background-size: 9%;
  }
  100% {
    background-size: 25%;
  }
}
